@media screen and (min-width: 601px) and (max-width: 800px) {

	body{
		font-size:8pt;
	}

	.tiny {
		font-size: 3.2em;
	}

	.small {
		font-size: 4.2em;
	}

	.medium {
		font-size: 4.2em;
	}

	div#barra{
		padding:5px;
	}

	.url{
		font-size: 12pt;
		color:#ffffff;
	}

	.idioma{
		float:right;
		margin-right:-5px;
		margin-top:-15px;
		font-size:6pt;
		color:#FFFFFF;
	}

	div#header{
		top:0px;
		position:fixed;
		width:100%;
		height:10px;
		z-index:1000;
	}

	div.bandheader{
		clear:both;
	}

	div.bandheader a span{
		float:left;
		padding:0 0.2em 0 0;
		margin-left: 0.3em;
		top:0px;
	}

	.btmainmenu{
		margin-top:5px;
	}

	div.bandheader h1{
		float:left;
		margin-top:12px;
		font-size:15pt;
	}

	div.social, div.bandheader{
		float:left;
		margin-top: 0px;
		width:50%;
		height:47px;
	}

	div.social{
		text-align:right;
	}

	div.social ul {
		margin-top:2px;
	}

	div.social ul li{
		display:inline;
		padding:0.3em 0.3em 0 0;
	}

	div#content{
		margin-top:8em;
		margin-bottom:25px;
		width:100%;
		z-index:-1000;
		text-align:justify;
		display:block;
		padding:0 1em 0 1em;
		clear:both;
	}

	div#content p{
		line-height:1.2em;
		text-indent: 0.8em;
		font-size:15pt;
		padding:0.3em 0.3em 0.1em 0.3em;
	}

	div#content h1, h2, h3, h4, h5, h6, div#publicity h1 {
		padding:1em 0em 0.2em 1.2em;
		font-size:15pt;
	}

	div#content ul li{
		line-height:0.5em;
		text-indent: 0.8em;
		font-size:14pt;
		padding:0.4em 0.4em 0.4em 0.4em;
		font-style:italic;
	}

	div#footer{
		bottom:0px;
		position:fixed;
		width:100%;
		height:20px;
		z-index:1000;
	}

	div#footer footer{
		font-size: 10pt;
		color:#C4C4C4;
		text-align: center;
		margin-top: 5px;
	}

	div#content .box_img_article img{
		width:50%;
	}

	div#content .box_img_article img:hover{
		width:90%;
	}

/*
	CONFIGURAÇÃO DA PÁGINA DE CRÉDITOS.
*/

	.img-persona{
		width: 90px;
		margin-top:10px;
	}

	.name-persona{
		margin-top:40px;
		margin-right: 1px;
		font-size:15pt;
	}

	.desc-persona{
		margin-top:30px;
		font-size:15pt;
		line-height:1.5em;
		padding:10px;
	}

	.alteracoes{
		padding:12px;
		font-size:15pt;
		line-height:1.5em;
	}

	div#img-creditos span, div#equipe span, div#img-creditos p, div#equipe p{
		line-height:1.2em;
		text-indent: 0.8em;
		font-size:15pt;
	}

	div#img-creditos, div#equipe{
		padding:10px;
		font-size:15px;
	}

	#equipe fieldset{
		margin-bottom:10px;
		margin-top:10px;
		padding:5px;
	}

	#equipe fieldset legend{
		font-size:18px;
		width:250px;
		padding:6px;
	}

/*
	CONFIGURACAO DA TABELA
*/

	table{
		margin-left:30px;
	}

	table td, table th{
		font-size:15pt;
	}

	table th, table td{
		padding:4px;
	}

/*
	CONFIGURAÇÃO DO MENU RETRATIL.
*/
	div#mainmenu h1, div#mainmenu h2, div#mainmenu h3{
		font-weight:bolder;
		border-bottom: 2px solid #C3C3C3;
		width:95%;
	}

	div#mainmenu {
		overflow-y:scroll;
		-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		position:fixed;
		top:75px;
		width:501px;
		height:100%;
		z-index:100;
		left:-501px;
	}

	.active {
		overflow-y:scroll;
		-moz-transform: translate(501px, 0);
		-webkit-transform: translate(501px, 0);
		-o-transform: translate(501px, 0);
		transform: translate(501px, 0);
	}

	#mainmenu .box {
		list-style-type:none;
		margin-bottom:0.3em;
		padding-bottom:0.3em;
	}

	#mainmenu h3 {
		display:inline-block;
		padding-bottom:0.2em;
		margin: 0.2em 0 0.3em 0.4em;
		color:#ffffff;
		font-size:13pt;
		text-transform:uppercase;
	}

	#menu {
		position:relative;
		margin:2em 0 10em 0.5em;
	}

	#menu ul li a{
		margin: 0em 0em 0em 1.5em;
	}

	#menu li a, #menu li a:link {
		color:#c3c3c3;
		text-decoration: none;
		font-size:12pt;
		display: block;
		-moz-transition: all 1.2s ease;
		-webkit-transition: all 1.2s ease;
		-o-transition: all 1.2s ease;
		transition: all 1.2s ease;
	}

	#menu li a:link{
		padding:0.6em 0 0.6em 0.2em;
		font-size:11pt;
	}

	#menu li a:hover {
		color:rgb(255,255,255);
		background-color:rgba(255,255,255,0.2);
		-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		padding:0.6em 0 0.6em 0.23em;
	}

	.menusocial{
		padding: 1em 0 1.5em 0;
		text-align:center;
	}
	.menusocial a{
		padding:0.3em;
	}

	.menulogo{
		text-align:center;
	}

	.assinatura{
		font-size:15pt;
	}

	.assinatura{
		font-size:15pt;
		padding-left:30px;
		margin-top:10px;
		margin-bottom: 10px;
	}

}
